%h1 About Kaizen Rails

.card
  .card-body
    %p Kaizen is a Japanese term that literally means 'Change for better.' This humble word, however, has become a philosophy and practice with far greater reach and impact than a mere dictionary would suggest. Kaizen has been implemented in manufacturing, software development, business, and other industries since it's development shortly after World War II. At the heart of Kaizen is its focus on continuous improvement through large or small, one-time or continuous actions.

    %p Rails is a server-side web application framework built using the Ruby programming language and is known for it's ability to generate web applications very quickly.

    %p KaizenRails is my journey to learn web development one step at a time. Utilizing the Ruby on Rails framework, I plan on learning (and maybe helping a few others on the way) to build my very own web application. I've attempted this before, but often failed because of the large scope of the project. With the help of Kaizen, I hope to take this journey one step at a time. I have no goals other than to make one small change a day. Join me as I embark on this journey. 