.site-header
  .site-name.col-3
    %h1 Kaizen
    %h1 Rails
  - if @posts.any?
    .latest_post.col-5
      .card
        .card-header
          %h4
            = @posts.first.title
            %small.em= time_ago_in_words(@posts.first.created_at)
        .card-body
          %p= @posts.first.body
  .social-media-icons
   
    %a{ href: '//www.instagram.com', target: 'blank', rel: 'nofollow' }
      %i.fa.fa-instagram
    %a{ href: FACEBOOK_URL, target: 'blank', rel: 'nofollow' }
      %i.fa.fa-facebook-square
    %a{ href: '//www.twitter.com', target: 'blank', rel: 'nofollow' }
      %i.fa.fa-twitter-square
.container

  - if @posts.any?
    - @posts.each do |post|
      = render post, locals: { post: post }
