/***** Body *****/
body {
  position: relative;
  padding-bottom: 300px;
  min-height: 100%;
  background-image: image-url("ruby_bg.png");
}

/***** Flashes *****/
.flashes {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  position: fixed;
  top: 40px;
  z-index: 999999;
}

/***** Main Header Image *****/
.site-header {
  height: 400px;
  width: 100%;
  position:relative;
  margin-bottom: 10px;
  .header-image {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .site-name {
    z-index: 100;
    position: absolute;    
    color: white;
    left: 15%;
    top: 100px;
    h1 {
      background: rgba(0,0,0,0.6);
      color: white;
      padding: 8px;
    }
  }
  .latest_post {
    z-index: 100;
    position: absolute;
    right: 15%;
    top: 100px;
    .card {
      background: rgba(0,0,0,0.6);
      color: white;
      .card-header {
        background: rgba(0,0,0,0.2)
      }
    }
  }
  .social-media-icons {
    z-index: 100;
    position: absolute;
    right: 10%;
    top: 340px;
    font-size: 2.5em;
    a {
      color: white;
    }
    a:hover {
      color: red;
    }
  }
}


/***** Nav *****/
.nav {
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.4);
  width: 100%;
  z-index: 9999;
  a {
    color: white;
  }
  a:hover {
    color: red;
  }
}

/***** Cards *****/
.container .card {
  margin-bottom: 10px;
}